@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* =========================
   LIGHT THEME (DEFAULT)
========================= */
:root {
  --background: #f7f3ed;
  --text-primary: #1c1a17;
  --text-secondary: #6e675f;
  --accent: #8c735a;
  --border: #ddd3c7;

  --card: #e7ded3;
  --card-2: #d8c6b4;
}

.dark {
  --background: #12100d;
  --text-primary: #eee6da;
  --text-secondary: #a89d90;
  --accent: #c7a27c;
  --border: #3a332d;

  --card: #1f1a16;
  --card-2: #2a211c;
}

/* =========================
   GLOBAL APPLY
========================= */
body {
  background-color: var(--background);
  color: var(--text-primary);
  transition: all 0.4s ease;
  scroll-behavior: smooth;
}

/* =========================
   TYPOGRAPHY
========================= */
h1,
h2,
h3,
.display {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
}